{% extends 'BASEE.html' %}
{% block farmer %}active{% endblock %}
{% load static %}
{% block body %}
    <!-- Start Main Top -->

    <!-- End Main Top -->

    <!-- Start Main Top -->
  
        <!-- Start Navigation -->
        
        <!-- End Atribute Navigation -->
           
            <!-- Start Side Menu -->
            <!-- <div class="side">
                <a href="#" class="close-side"><i class="fa fa-times"></i></a>
                <li class="cart-box">
                    <ul class="cart-list">
                        <li>
                            <a href="#" class="photo"><img src="images/img-pro-01.jpg" class="cart-thumb" alt="" /></a>
                            <h6><a href="#">Delica omtantur </a></h6>
                            <p>1x - <span class="price">$80.00</span></p>
                        </li>
                        <li>
                            <a href="#" class="photo"><img src="images/img-pro-02.jpg" class="cart-thumb" alt="" /></a>
                            <h6><a href="#">Omnes ocurreret</a></h6>
                            <p>1x - <span class="price">$60.00</span></p>
                        </li>
                        <li>
                            <a href="#" class="photo"><img src="images/img-pro-03.jpg" class="cart-thumb" alt="" /></a>
                            <h6><a href="#">Agam facilisis</a></h6>
                            <p>1x - <span class="price">$40.00</span></p>
                        </li>
                        <li class="total">
                            <a href="#" class="btn btn-default hvr-hover btn-cart">VIEW CART</a>
                            <span class="float-right"><strong>Total</strong>: $180.00</span>
                        </li>
                    </ul>
                </li>
            </div> -->
            <!-- End Side Menu -->
        <!-- </nav> -->
        <!-- End Navigation -->
    <!-- </header> -->
    <!-- End Main Top -->

    <!-- Start Top Search -->
    <div class="top-search">
        <div class="container">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                <input type="text" class="form-control" placeholder="Search">
                <span class="input-group-addon close-search"><i class="fa fa-times"></i></span>
            </div>
        </div>
    </div>
    <!-- End Top Search -->

    <!-- Start All Title Box -->
    <div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>ABOUT US</h2>
                    <!-- <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">ABOUT US</li>
                    </ul> -->
                </div>
            </div>
        </div>
    </div>
    <!-- End All Title Box -->

    <!-- Start About Page  -->
    <div class="about-box-main">
        <div class="container">
            <div class="row">
				<div class="col-lg-6">
                    <div class="banner-frame"> <img class="img-fluid" src="{% static 'images/about-us.jpg' %}" style="height: 500px;width: 600px;" alt="" />
                    </div>
                </div>
                <div class="col-lg-6">
                    <h2 class="noo-sh-title-top" style="color: orangered;"><span>Nature's Bounty</span></h2>
                    <br>
                    <p style="font-size:20px;color:black; ">Nature's Bounty is an online destination for locally sourced fruits. We aim to support sustainable farming practices and provide our customers with the convenience of ordering fresh produce online.
                        Our online platform offers a seamless shopping experience, with easy product browsing, detailed descriptions, and user-friendly interfaces. Our delivery services are reliable and efficient, ensuring that customers receive their orders promptly.
                        We partner with local farmers who adhere to sustainable and ethical farming practices. 
                        Our collection includes a diverse selection of fresh produce, including seasonal favorites and exotic varieties.
                        Join us in supporting local farmers and choosing locally sourced produce for a healthier and more flavorful lifestyle.
                    </p>
                </div>
            </div>
            <div class="row my-5">
                <div class="col-sm-6 col-lg-4">
                    <div class="service-block-inner">
                        <h3>Our Journey</h3>
                        <p style="font-size: 20px;color: black;">Our journey began with a simple idea: to bring the freshest fruits and vegetables from local farms to your table. Our founders, [Name], sought to create a welcoming space where people could discover new flavors, connect with nature, and nourish their well-being.</p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="service-block-inner">
                        <h3>Our Values</h3>
                        <p style="font-size: 20px;color: black;">◘ Freshness: We source from local farms to ensure the best quality and taste. <br>
                           ◘ Variety: Explore our diverse selection of fruits. <br>
                           ◘ Sustainability: We support eco-friendly practices and reduce food waste. <br>
                           ◘ Community: Building relationships and supporting local growers. </p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="service-block-inner">
                        <h3>Our Service</h3>
                        <p style="font-size: 18px;color: black;">◘ Fresh Fruits Delivery:Free delivery of fresh fruits. <br>
                           ◘ Online Ordering and Payment:Convenient online ordering and payment options for customers. <br>
                           ◘ Customer Support:Dedicated customer support through phone,email for any queries and concerns. <br>
                           ◘ Secure Payment Options:Multiple secure options including credit cards,phonepay,cash on delivery.</p>
                    </div>
                </div>
            </div>
            <div class="row my-4">
                <div class="col-12">
                    <h2 class="noo-sh-title">Meet Our Team</h2>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="hover-team">
                        <div class="our-team"> <img src="{% static 'images/img-1.jpg' %}" alt="" />
                            <div class="team-content">
                                <h3 class="title">Williamson</h3> <span class="post">Web Developer</span> </div>
                            <ul class="social">
                                <li>
                                    <a href="#" class="fab fa-facebook"></a>
                                </li>
                                <li>
                                    <a href="#" class="fab fa-twitter"></a>
                                </li>
                                <li>
                                    <a href="#" class="fab fa-google-plus"></a>
                                </li>
                                <li>
                                    <a href="#" class="fab fa-youtube"></a>
                                </li>
                            </ul>
                            <div class="icon"> <i class="fa fa-plus" aria-hidden="true"></i> </div>
                        </div>
                        <div class="team-description">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent urna diam, maximus ut ullamcorper quis, placerat id eros. Duis semper justo sed condimentum rutrum. Nunc tristique purus turpis. Maecenas vulputate. </p>
                        </div>
                        <hr class="my-0"> </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="hover-team">
                        <div class="our-team"> <img src="{% static 'images/img-2.jpg' %}" alt="" />
                            <div class="team-content">
                                <h3 class="title">Kristiana</h3> <span class="post">Web Developer</span> </div>
                            <ul class="social">
                                <li>
                                    <a href="#" class="fab fa-facebook"></a>
                                </li>
                                <li>
                                    <a href="#" class="fab fa-twitter"></a>
                                </li>
                                <li>
                                    <a href="#" class="fab fa-google-plus"></a>
                                </li>
                                <li>
                                    <a href="#" class="fab fa-youtube"></a>
                                </li>
                            </ul>
                            <div class="icon"> <i class="fa fa-plus" aria-hidden="true"></i> </div>
                        </div>
                        <div class="team-description">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent urna diam, maximus ut ullamcorper quis, placerat id eros. Duis semper justo sed condimentum rutrum. Nunc tristique purus turpis. Maecenas vulputate. </p>
                        </div>
                        <hr class="my-0"> </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="hover-team">
                        <div class="our-team"> <img src="{% static 'images/img-3.jpg' %}" alt="" />
                            <div class="team-content">
                                <h3 class="title">Steve Thomas</h3> <span class="post">Web Developer</span> </div>
                            <ul class="social">
                                <li>
                                    <a href="#" class="fab fa-facebook"></a>
                                </li>
                                <li>
                                    <a href="#" class="fab fa-twitter"></a>
                                </li>
                                <li>
                                    <a href="#" class="fab fa-google-plus"></a>
                                </li>
                                <li>
                                    <a href="#" class="fab fa-youtube"></a>
                                </li>
                            </ul>
                            <div class="icon"> <i class="fa fa-plus" aria-hidden="true"></i> </div>
                        </div>
                        <div class="team-description">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent urna diam, maximus ut ullamcorper quis, placerat id eros. Duis semper justo sed condimentum rutrum. Nunc tristique purus turpis. Maecenas vulputate. </p>
                        </div>
                        <hr class="my-0"> </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="hover-team">
                        <div class="our-team"> <img src="{% static 'images/img-4.jpeg' %}" style="width: 300px;height: 300px;" alt="" />
                            <div class="team-content">
                                <h3 class="title">Andrea</h3> <span class="post">Web Developer</span> </div>
                            <ul class="social">
                                <li>
                                    <a href="#" class="fab fa-facebook"></a>
                                </li>
                                <li>
                                    <a href="#" class="fab fa-twitter"></a>
                                </li>
                                <li>
                                    <a href="#" class="fab fa-google-plus"></a>
                                </li>
                                <li>
                                    <a href="#" class="fab fa-youtube"></a>
                                </li>
                            </ul>
                            <div class="icon"> <i class="fa fa-plus" aria-hidden="true"></i> </div>
                        </div>
                        <div class="team-description">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent urna diam, maximus ut ullamcorper quis, placerat id eros. Duis semper justo sed condimentum rutrum. Nunc tristique purus turpis. Maecenas vulputate. </p>
                        </div>
                        <hr class="my-0"> </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End About Page -->

    <!-- Start Instagram Feed  -->
    
    <!-- End Instagram Feed  -->


    <!-- Start Footer  -->

    <!-- End Footer  -->

    <!-- Start copyright  -->
    
    <!-- End copyright  -->

    <a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>

    <!-- ALL JS FILES -->
    <!-- <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script> -->
    <!-- ALL PLUGINS -->
    <!-- <script src="js/jquery.superslides.min.js"></script>
    <script src="js/bootstrap-select.js"></script>
    <script src="js/inewsticker.js"></script>
    <script src="js/bootsnav.js."></script>
    <script src="js/images-loded.min.js"></script>
    <script src="js/isotope.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/baguetteBox.min.js"></script>
    <script src="js/form-validator.min.js"></script>
    <script src="js/contact-form-script.js"></script>
    <script src="js/custom.js"></script> -->
{% endblock %}







<!-- Our Story

Our journey began with a simple idea: to bring the freshest fruits and vegetables from local farms to your table. Our founders, [Name], sought to create a welcoming space where people could discover new flavors, connect with nature, and nourish their well-being.

Our Values

- Freshness: We source from local farms to ensure the best quality and taste.
- Variety: Explore our diverse selection of fruits.
- Sustainability: We support eco-friendly practices and reduce food waste.
- Community: Building relationships and supporting local growers.

Our Services

- Fresh produce
- Custom fruit baskets and gift arrangements
- Weekly deliveries and subscriptions
- Nutrition advice and recipes

Meet Our Team

Our knowledgeable staff are passionate about fruits and dedicated to helping you make healthy choices.

Get in Touch

Visit us, call us, or email us for more information. Let's nourish our community, one fruit at a time!

This sample "About" page highlights the fruit store's story, values, services, and team, showcasing their commitment to freshness, sustainability, and community. Feel free to customize it to fit your store's unique identity and mission!
-------------------------------------------------------- -->

<!-- Here is an About page for a fruit store called Symphony of Nature's Bounty ¹:

Symphony of Nature's Bounty: Fresh Fruits and Vegetables Online

Introduction
Symphony of Nature's Bounty is an online destination for locally sourced fruits and vegetables. We aim to support sustainable farming practices and provide our customers with the convenience of ordering fresh produce online.

The Convenience of Online Shopping
Our online platform offers a seamless shopping experience, with easy product browsing, detailed descriptions, and user-friendly interfaces. Our delivery services are reliable and efficient, ensuring that customers receive their orders promptly.

Locally Sourced Produce
We partner with local farmers who adhere to sustainable and ethical farming practices. We support local agriculture by providing a platform for farmers to showcase their produce and connect with consumers.

A Symphony of Flavors and Nutrients
Our collection includes a diverse selection of fresh produce, including seasonal favorites and exotic varieties. We curate our collection to ensure a vibrant assortment that caters to different tastes and dietary preferences.

Supporting Sustainable Farming Practices
We commit to partnering with farmers who prioritize environmentally friendly and sustainable farming practices. We support organic farming, regenerative agriculture, and water conservation techniques.

Promoting a Healthier Lifestyle
We emphasize the role of fresh fruits and vegetables in maintaining good health. Our platform encourages customers to embrace a healthier lifestyle by incorporating our offerings into their daily meals and snacks.

Conclusion
Symphony of Nature's Bounty aims to provide a convenient and sustainable way to incorporate fresh produce into your daily life. Join us in supporting local farmers and choosing locally sourced produce for a healthier and more flavorful lifestyle. -->