
{% extends 'BASEE.html' %}
{% block farmer %}active{% endblock %}
{% load static %}
{% block body %}

 <!-- End Side Menu -->
  <!-- End Navigation -->
<div class="container mt-3 p-3 ">
        
          <form method="post">
            {% csrf_token %}
            <h1 class="card-title"><b>{{i.name}}</b></h1>
            <img class="card-img-top rounded mb-2" src="{{i.image.url}}" alt="Card image" style="width:250px;height: 220px;"><br>
            <h3><b> Product Details:</b></h3>
            <h3 class="card-title"><b>{{i.description}}</b></h3>
            <h1 class="card-title btn btn d-inline m-3 p-1" style="color:black;size: large;"><b>Price:{{i.price}}</b></h1><br><br>

            <h4 class="fa fa-shopping-cart  "><b>Free shipping apply to all orders over RS.200.</b></h4>
            <h4><b>Premium products ,handpicked specially for you </b></h4>
            <h4><b>Availbility: In stock</b></h4>

            {% if i.name in itms %}
            <h4 class="card-title btn btn-success m-3 p-2 mt-4"><a href="../mycart1" class="text-light">View cart</a></h4>
            {% else %}
            <h4 class="card-title btn btn-success m-3 p-2 mt-4"><a href="addtocart/{{i.pk}}" class="text-light">Add to cart</a></h4>
            {% endif %}
            <h4 class="card-title btn btn-warning m-3 p-2 mt-4"><a href="../buynow/{{i.pk}}" class="text-light">Buy Now</a></h4>
          </form>
    
  

  <br>
</div>
   
{% endblock %}